<%- include("partials/header"); -%>
 <h1 class="contact">Contact Details</h1>
    <br>
      
    <h3>EMAIL</h3>
    <h4> sowmyaprakk@gmail.com</h4>
    <h4> burle.aishwarya@gmail.com</h4>

<%- include("partials/footer"); -%>
