<style>
  body {
    background-image: url('https://www.indianfolk.com/wp-content/uploads/2019/03/western-ghats-head-450.jpeg');
    width : 100%;
    height: 150%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    fill-opacity: 0.5;
  }
  </style> 
    <!-- <div class="myDiv">
      <div class="bg"></div> -->
                    
                    <%- include("partials/header") -%>

                    <div class="about">
                        <h1 class="welcome-text">Coorg tourism</h1>
                        <p>A perfect place to personally plan your Coorg trip.</p>
                        <a href="/places">Must visit places</a>
                        <a href="/hotels">Hotels</a>
                    </div>
                    
                  


    


<!-- <%- include("partials/footer"); -%> -->
